/* webfonts */

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-ExtraBold.woff2') format('woff2'),
        url('../fonts/Outfit-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Light.woff2') format('woff2'),
        url('../fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-ExtraLight.woff2') format('woff2'),
        url('../fonts/Outfit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Black.woff2') format('woff2'),
        url('../fonts/Outfit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Bold.woff2') format('woff2'),
        url('../fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Medium.woff2') format('woff2'),
        url('../fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('../fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
        url('../fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Thin.woff2') format('woff2'),
        url('../fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* webfonts end */

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #F1F2F3; 
    --border-color: #DEE0E3;
    --text-color: #1B1B1B;
}


html {
    margin: 0;
}
body {
    font-family: 'Outfit';
    font-weight: 400;
    color: #1B1B1B;

}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(34, 35, 36, 0.925); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 35, 36, 0.925); 
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    white-space: normal;
    word-break: break-word;
    color: #1B1B1B;
    font-family: 'Outfit';
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3, .h3 {
    font-size: 38px;
}

h4, .h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}
h6{
    font-size: 18px;   
}
button, input, optgroup, select, textarea {
    font-family: 'Outfit';
    font-weight: 500;
}

a, p, button, span {
    white-space: normal;
    word-break: break-word;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #1B1B1B;
}
a:hover {
    color: var(--primary-color);
}
a:focus-visible {
    outline: transparent;
}
.page-link:focus {
    box-shadow: none;
}
.file > input[type='file'] {

     display: none;
    
    }
p {
    font-size: 16px;
    margin: 0;
    color: #1B1B1B;
}

.undertext {
    text-decoration: underline;
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    transition: all 0.5s;
}

button:focus {
    box-shadow: none !important;
    outline: transparent;
}
.form-control:focus, input {
    outline: 0;
    box-shadow: none !important;
    border-color:var(--primary-color) ;
    color: #000000;
}
.form-field {
    width: 100%;
    position: relative;
}


.formfield {
    position: relative;
    width: 100%;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 6px;
    /* text-transform: uppercase; */
}
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 0;
    border: 1px solid #3A3A3A;
    accent-color:  #3A3A3A;
}
.form-group{
    margin-bottom: 15px;
}

.form-icon {
    position: absolute;
    right: 18px;
    top: 18px;
    display: flex;
    align-items: center;
}
.formfield.select .form-icon {
    top: 23px;
}
.form-field:has(.form-icon) input{
    padding-right: 50px;
}
.button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: all 0.3s;
    font-size: 14px;
    padding: 11px 16px;
    min-height: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 17px;
    min-width: 90px;
    text-transform: uppercase;
    border-radius: 5px;
}

button{
    padding: 16px 26px;
    width: fit-content;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: var(--primary-color);
}
.outline-btn{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: #fff;
}
.primary-btn{
    color: #fff;
    background-color: var(--primary-color);
}
.primary-btn:hover{
    color: #fff;
}
.full-btn {
    width: 100%;
    min-width: auto;
}
.form-control::placeholder{
    color: var(--text-color);
}
.form-control {
    min-height: 60px;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 0;
    padding: 12px 24px;
    padding-right: 10%;
    font-family: var(--font);
    color: var(--text-color);
    font-size: 14px;
    border-radius: 5px;
}
img {
    max-width: 100%;
}
.container {
   max-width: 1620px;
   padding: 0 20px;
   margin: 0 auto;
}


footer {
    background-color: var(--primary-color);
    padding: 30px 0px;
}
footer {
    background-color: var(--primary-color);
}
.copyright.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-links ul {
    display: flex;
    gap: 40px;
    align-items: center;
}
.copyright-links ul li a{
    color: #fff;
    font-size: 14px;
}

.cust-nav-header-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
a.navbar-brand {
    padding: 0;
}



/* ========================== login css ========================== */


.cust-form-bg {
    padding: 80px 0px;
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form-setup {
    max-width: 520px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid;
    border-color: var(--border-color);
    padding: 40px 55px;
    border-radius: 8px;
    width: 100%;
    filter: drop-shadow(0px 4px 79px rgba(0, 0, 0, 0.05));
}
.form-setup h4 {
    text-align: center;
    margin: 0 0 25px;
}
.forgot-password-sec {
    text-align: right;
    padding-top: 10px;
}
.have-account {
    margin-top: 30px;
    border-top: 1px solid hsl(224deg 17% 17% / 20%);
    border-top-style: dashed;
    padding-top: 24px;
    text-align: center;
    color: #606060;
    font-size: 14px;
}
.have-account a {
    color: var(--text-color);
    padding-left: 3px;
    font-size: 16px;
    font-family: var(--font-medium);
    text-decoration: underline;
}
.form-check.remember-me {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 0 0 25px;
}
.form-check .form-check-input {
    /* background-color: var(--primary-color); */
    border-color: var(--primary-color);
    accent-color: var(--primary-color);
}
.form-check .form-check-input:checked {
    accent-color: var(--primary-color);
    background-color: var(--primary-color);
    
}
.form-check.remember-me label{
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}

.bottom-nav{
    background-color: var(--primary-color);
}
.search-pro-header {
    max-width: 375px;
    border-radius: 5px;
    overflow: hidden;
}
.search-pro-header ul {
    display: flex;
    align-items: center;
    border: 1px solid var(--mid-gray, #DEE0E3);
    background: var(--wh, #FFF);
    padding: 7px;
}
.search-pro-header ul li:first-child {
    border-right: 1px solid #DEE0E3;
}
.search-pro-header ul li input {
    border: none;
    padding: 0 10px;
    width: 100%;
    font-size: 11px;
}
.search-pro-header button.primary-btn {
    min-height: 37px;
    gap: 10px;
    font-size: 12px;
    padding: 6px 12px;
    white-space: nowrap;
}
.bottom-nav .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.bottom-nav .navbar-nav li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.bottom-nav #navbarSupportedContent{
    gap: 80px;
}
.header-cart > ul{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-cart > ul li .dropdown .dropdown-toggle{
    color: #000;
}
.header-cart ul li .dropdown .dropdown-menu li a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright.footer-section > p {
    font-size: 14px;
    color: #Fff;
}
.header-cart ul li .dropdown .dropdown-toggle::after{
    display: none;
}


.offcanvas{
    padding: 30px 46px;
    max-width: 558px;
    width: 100%;
}
.offcanvas-header{
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #DEE0E3;
}
.offcanvas-body {
    padding: 0;
}
.bottom-nav .navbar-nav .dropdown{
    position: static;
}
.bottom-nav{
    position: relative;

}
.bottom-nav  .navbar-nav .dropdown .dropdown-toggle{
    color: #fff;
}
.bottom-nav  .navbar-nav .dropdown .dropdown-toggle::after{
    display: none;
}
.bottom-nav  .navbar-nav .dropdown-menu {
    position: absolute;
    top: 67px;
    max-width: 1071px;
    width: 100%;
    left: calc(50% - 535px);
}
.bottom-nav  .navbar-nav .dropdown-menu {
    position: absolute;
    top: 67px;
    max-width: 1071px;
    width: 100%;
    left: calc(50% - 535px);
    padding: 20px;
    border-radius: 10px;
}
.sub-categeory-links a{
    color: #606060 !important;
    font-size: 14px !important;
}
.sub-categeory-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    padding: 25px;
}
.sub-categeory-links a:hover{
    color: #1B1B1B !important;
    text-decoration: underline;
}
.sub-categeory-img {
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #F1F2F3;
    max-height: 207px;
    max-width: 502px;
    width: 100%;
    overflow: hidden;
}
.sub-categeory-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-group.form-uplaud-group label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    border: 1px dashed #DEE0E3;
    border-radius: 5px;
    cursor: pointer;
}
.uplaud-id-proof {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cust-form-bg.fill-hight {
    height: calc(100vh - 232px);
    overflow: auto;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: unset !important;
}
.invalid-feedback{
    color: #dc3545 !important
}
.extra-icon{
    color: #DEE0E3;
}
.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 405px;
}
li#iti-0__item-us-preferred {
    width: 402px;
}



.toggle-btn input[type=checkbox]{
	height: 0;
	width: 0;
	display: none;
}
.toggle-btn label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 23px;
	background: grey;
	display: block;
	border-radius: 5px;
	position: relative;
}
.toggle-btn label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 17px;
	height: 17px;
	background: #fff;
	border-radius: 5px;
	transition: 0.3s;
}

.toggle-btn input:checked + label {
	background: #3A3A3A;
}
.toggle-btn input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
.verify-no {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.verify-no {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}
.verify-no .form-control {
    padding: 12px 16px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.modal-header{
    border-bottom: 0;
}
.modal-content{
    border-radius: 10px;
}
.recove-account .nav .nav-item .nav-link{
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
    min-height: unset;
}
.recove-account .nav .nav-item{
    width: 100%;
}
.recove-account .nav{
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0 0 10px;
}
.recove-account .nav .nav-item .nav-link.active{
    background-color: var(--primary-color);
    
}
.recove-account .nav .nav-item .nav-link.active p{
    color: #fff !important;
}
.nofify-profile {
    width: 47px;
    min-width: 47px;
    height: 47px;
    overflow: hidden;
    border-radius: 50px;
}
.nofify-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nofify-list-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 0px 22px;
    border-bottom: 1px solid var(--border-color);
}
.notify-message h3 {
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    line-height: 27px;
}
.notify-message span {
    font-size: 12px;
    font-weight: 400;
    color: #AAAAAA;
    line-height: 20px;
}
.notifuy-msg-box{
    padding: 17px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 5px 0 12px;
}
.notifuy-msg-box p{
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}
.nofify-list {
    padding-right: 10px;
}

table{
    width: 100%;
}
.complete-mail-box img{
    max-width: 150px;
}
.complete-mail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.resend-otp {
    padding: 15px 0px;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}
.error-messages{
    color: #dc3545 !important;
}

.my-pro-detail.notification-user-pro {
    display: flex;
    flex-direction: column;
}
.my-pro-detail-left {
    width: 100%;
}

.full-hight-sm{
    height: calc(100vh - 163px);
    overflow: auto;
}