/* webfonts */

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Outfit-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Light.woff2') format('woff2'),
        url('../../fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-ExtraLight.woff2') format('woff2'),
        url('../../fonts/Outfit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Black.woff2') format('woff2'),
        url('../../fonts/Outfit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Bold.woff2') format('woff2'),
        url('../../fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Medium.woff2') format('woff2'),
        url('../../fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('../../fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'outfit-regular';
    src: url('../../fonts/Outfit-Regular.ttf') format('woff2'),
        url('../../fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit-Thin.woff2') format('woff2'),
        url('../../fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* webfonts end */

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #F1F2F3;
    --border-color: #DEE0E3;
    --text-color: #1B1B1B;
}


html {
    margin: 0;
}

body {
    font-family: 'outfit-regular';
    font-weight: 400;
    color: #1B1B1B;

}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(34, 35, 36, 0.925);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 35, 36, 0.925);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    white-space: normal;
    word-break: break-word;
    color: #1B1B1B;
    font-family: 'outfit-regular';
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3,
.h3 {
    font-size: 38px;
}

h4,
.h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'outfit-regular';
    font-weight: 500;
}

a,
p,
button,
span {
    white-space: normal;
    word-break: break-word;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #1B1B1B;
}

a:hover {
    color: var(--primary-color);
}

a:focus-visible {
    outline: transparent;
}

.page-link:focus {
    box-shadow: none;
}

.file>input[type='file'] {

    display: none;

}

p {
    font-size: 16px;
    margin: 0;
    color: #1B1B1B;
}

.undertext {
    text-decoration: underline;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    transition: all 0.5s;
}

button:focus {
    box-shadow: none !important;
    outline: transparent;
}

.form-control:focus,
input {
    outline: 0;
    box-shadow: none !important;
    border-color: var(--primary-color);
    color: #000000;
}

.form-field {
    width: 100%;
    position: relative;
}


.formfield {
    position: relative;
    width: 100%;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 6px;
    /* text-transform: uppercase; */
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 0;
    border: 1px solid #3A3A3A;
    accent-color: #3A3A3A;
}

.form-group {
    margin-bottom: 15px;
}

.form-icon {
    position: absolute;
    right: 18px;
    top: 23px;
    display: flex;
    align-items: center;
}

.formfield.select .form-icon {
    top: 23px;
}

.form-field:has(.form-icon) input {
    padding-right: 50px;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: all 0.3s;
    font-size: 14px;
    padding: 11px 16px;
    min-height: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 17px;
    min-width: 90px;
    text-transform: capitalize;
    border-radius: 5px;
}

button {
    padding: 16px 26px;
    width: fit-content;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: var(--primary-color);
}

.outline-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: #fff;
}

.primary-btn {
    color: #fff;
    background-color: var(--primary-color);
    border: transparent;
}

.primary-btn:hover {
    color: #fff;
}

.full-btn {
    width: 100%;
    min-width: auto;
}

.form-control::placeholder {
    color: var(--text-color);
}

.form-control {
    min-height: 60px;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 0;
    padding: 12px 24px;
    padding-right: 10%;
    font-family: var(--font);
    color: var(--text-color);
    font-size: 14px;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1620px;
    padding: 0 20px;
    margin: 0 auto;
}


footer {
    background-color: var(--primary-color);
    padding: 30px 0px;
}

footer {
    background-color: var(--primary-color);
}

.copyright.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-links ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

.copyright-links ul li a {
    color: #fff;
    font-size: 14px;
}

.cust-nav-header-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

a.navbar-brand {
    padding: 0;
}



/* ========================== login css ========================== */


.cust-form-bg {
    padding: 80px 0px;
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-setup {
    max-width: 520px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid;
    border-color: var(--border-color);
    padding: 40px 54px;
    border-radius: 8px;
    width: 100%;
    filter: drop-shadow(0px 4px 79px rgba(0, 0, 0, 0.05));
}

.form-setup h4 {
    text-align: center;
    margin: 0 0 25px;
}

.forgot-password-sec {
    text-align: right;
    padding-top: 10px;
}

.have-account {
    margin-top: 30px;
    border-top: 1px solid hsl(224deg 17% 17% / 20%);
    border-top-style: dashed;
    padding-top: 24px;
    text-align: center;
    color: #606060;
    font-size: 14px;
}

.have-account a {
    color: var(--text-color);
    padding-left: 3px;
    font-size: 16px;
    font-family: var(--font-medium);
    text-decoration: underline;
}

.form-check.remember-me {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 0 0 25px;
}

.form-check .form-check-input {
    /* background-color: var(--primary-color); */
    border-color: var(--primary-color);
    accent-color: var(--primary-color);
}

.form-check .form-check-input:checked {
    accent-color: var(--primary-color);
    background-color: var(--primary-color);

}

.form-check.remember-me label {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}

.bottom-nav {
    background-color: var(--primary-color);
}

.search-pro-header {
    max-width: 375px;
    border-radius: 5px;
    overflow: hidden;
}

.search-pro-header ul {
    display: flex;
    align-items: center;
    border: 1px solid var(--mid-gray, #DEE0E3);
    background: var(--wh, #FFF);
    padding: 7px;
}

.search-pro-header ul li:first-child {
    border-right: 1px solid #DEE0E3;
}

.search-pro-header ul li input {
    border: none;
    padding: 0 10px;
    width: 100%;
    font-size: 11px;
}

.search-pro-header button.primary-btn {
    min-height: 37px;
    gap: 10px;
    font-size: 12px;
    padding: 6px 12px;
    white-space: nowrap;
}

.bottom-nav .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.bottom-nav .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.bottom-nav #navbarSupportedContent {
    gap: 80px;
}

.header-cart>ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-cart>ul li .dropdown .dropdown-toggle {
    color: #000;
}

.header-cart ul li .dropdown .dropdown-menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright.footer-section>p {
    font-size: 14px;
    color: #Fff;
}

.header-cart ul li .dropdown .dropdown-toggle::after {
    display: none;
}


.offcanvas {
    padding: 30px 46px;
    max-width: 558px;
    width: 100%;
}

.offcanvas-header {
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #DEE0E3;
}

.offcanvas-body {
    padding: 0;
}

.bottom-nav .navbar-nav .dropdown {
    position: static;
}

.bottom-nav {
    position: relative;
    min-height: 70px;
}

.bottom-nav .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
}

.bottom-nav .navbar-nav .dropdown .dropdown-toggle::after {
    display: none;
}

.bottom-nav .navbar-nav .dropdown-menu {
    position: absolute;
    top: 67px;
    max-width: 1071px;
    width: 100%;
    left: calc(50% - 535px);
}

.bottom-nav .navbar-nav .dropdown-menu {
    position: absolute;
    top: 67px;
    max-width: 1071px;
    width: 100%;
    left: calc(50% - 535px);
    padding: 20px;
    border-radius: 10px;
}

.sub-categeory-links a {
    color: #606060 !important;
    font-size: 14px !important;
}

.sub-categeory-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    padding: 25px;
}

.sub-categeory-links a:hover {
    color: #1B1B1B !important;
    text-decoration: underline;
}

.sub-categeory-img {
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #F1F2F3;
    max-height: 207px;
    max-width: 502px;
    width: 100%;
    overflow: hidden;
}

.sub-categeory-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-group.form-uplaud-group label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    border: 1px dashed #DEE0E3;
    border-radius: 5px;
    cursor: pointer;
}

.uplaud-id-proof {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill-hight {
    height: calc(100vh - 232px);
    overflow: auto;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: unset !important;
}

.invalid-feedback {
    color: #dc3545 !important
}

.extra-icon {
    color: #DEE0E3;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 405px;
}

li#iti-0__item-us-preferred {
    width: 402px;
}



.toggle-btn input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

.toggle-btn label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 23px;
    background: grey;
    display: block;
    border-radius: 5px;
    position: relative;
}

.toggle-btn label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.toggle-btn input:checked+label {
    background: #3A3A3A;
}

.toggle-btn input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.verify-no {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.verify-no {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.verify-no .form-control {
    padding: 12px 16px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.modal-header {
    border-bottom: 0;
}

.modal-content {
    border-radius: 10px;
}

.recove-account .nav .nav-item .nav-link {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
    min-height: unset;
}

.recove-account .nav .nav-item {
    width: 100%;
}

.recove-account .nav {
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0 0 10px;
}

.recove-account .nav .nav-item .nav-link.active {
    background-color: var(--primary-color);

}

.recove-account .nav .nav-item .nav-link.active p {
    color: #fff !important;
}

.nofify-profile {
    width: 47px;
    min-width: 47px;
    height: 47px;
    overflow: hidden;
    border-radius: 50px;
}

.nofify-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nofify-list-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 0px 22px;
    border-bottom: 1px solid var(--border-color);
}

.notify-message h3 {
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    line-height: 27px;
}

.notify-message span {
    font-size: 12px;
    font-weight: 400;
    color: #AAAAAA;
    line-height: 20px;
}

.notifuy-msg-box {
    padding: 17px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 5px 0 12px;
}

.notifuy-msg-box p {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}

.nofify-list {
    padding-right: 10px;
}

table {
    width: 100%;
}

.complete-mail-box img {
    max-width: 150px;
}

.complete-mail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.resend-otp {
    padding: 15px 0px;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

.error-messages {
    color: #dc3545 !important;
}

.my-pro-detail.notification-user-pro {
    display: flex;
    flex-direction: column;
}

.my-pro-detail-left {
    width: 100%;
}

.full-hight-sm {
    height: calc(100vh - 163px);
    overflow: auto;
}

.img-upload-box {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px dashed var(--border-color);
    flex-direction: column;
    gap: 10px;
}

.upload-img-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
}

.upload-img-box {
    max-width: 100px;
    width: 100%;
    height: 125px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.upload-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-img-preview-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.upload-img-cross {
    position: absolute;
    top: -3px;
    right: 0;
}

label#upload-image-five-error {
    position: absolute;
    bottom: -25px;
}

.form-setup form button {
    font-size: 16px;
    padding: 20px 16px;
    line-height: 18px;
    font-weight: 500;
    max-height: 60px;
}

.remember-me label {
    cursor: pointer;
    margin-top: 4px;
}

#upload-image-five-error {
    color: #dc3545 !important;
}

.image-wrapper {
    position: relative;
    max-width: 100px;
    height: 125px;
    overflow: hidden;
    border-radius: 10px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span.remove-image {
    position: absolute;
    top: 2px;
    right: 0;
    color: #fff;
    font-size: 32px;
    line-height: 18px;
}

.add-pro-form .form-group textarea.form-control {
    max-height: 60px;
    resize: none;
    padding: 18px 24px;
}


.my-wishlist-sec {
    padding: 40px 0px;
}

.list-empty-box {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list-empty-box img {
    max-width: 300px;
    text-align: center;
}

.duel-select-field .form-icon {
    top: 15px !important;
}

.add-pro-form .formfield .form-icon {
    right: 18px;
    top: 25px;
}

span.cal-icon.form-icon {
    top: 20px !important;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: rgb(23 23 23 / 78%) url(../images/loader.gif) center no-repeat;
    background-size: 50px;
}

body.loading .overlay {
    display: block;
}

.formfield.upload-id-field input {
    padding: 18px 24px;
}

.error {
    color: red;
}

/* .formfield.form-control {
    border: 0;
    padding-left: 0;
} */

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: var(--primary-color) !important;
    border-color: transparent;
    color: #fff;
}

.daterangepicker td.in-range {
    background-color: #3a3a3a21;
}

.daterangepicker .drp-buttons button.applyBtn.btn.btn-sm.btn-primary {
    background-color: #3a3a3a;
    border: 0;
    min-height: 40px;
}


.alert-container .alert {
    display: flex;
    gap: 20px;
    position: relative;
}

.alert-container .alert .alert-cross {
    position: absolute;
    top: 13px;
    right: 13px;
}

.alert-container .alert .alert-cross.close svg {
    width: 15px;
    height: 15px;
}

.addbank-Modal .modal-body {
    position: relative;
}

.addbank-Modal .modal-body .btn-close {
    position: absolute;
    opacity: 1;
    top: 10px;
    right: 10px;
    min-height: unset;
}

.profile-check-list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.addbank-Modal .modal-body h3 {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.profile-select-box.border-disabled {
    width: 100%;
}

.addbank-Modal .modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas-header button {
    min-height: 22px;
}

.offcanvas-header h5 {
    font-size: 24px;
    line-height: 31px;
}

.inquiry-sidebar .pro-desc-prize-wrapper .pro-desc-prize h3 {
    font-size: 18px;
}

.inquiry-sidebar .pro-desc-prize-wrapper .badge {
    font-size: 10px;
}

.inquiry-sidebar .pro-desc-prize-wrapper {
    display: flex;
    gap: 5px;
}


.query_msg .modal-body {
    padding: 40px 20px;
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    height: 100%;
}

.query_msg .modal-body .alert {
    margin: 0;
    width: 100%;
}

.query_msg .modal-body button.close {
    padding: 0;
    min-height: unset !important;
    border: 0;
    background-color: unset;
    font-size: 36px;
    position: absolute;
    top: 0;
    right: 19px;
    height: 36px;
}

.otp-form>h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px;
}

.custm-otp-field button {
    padding: 20px 6px !important;
}

.formfield.custm-otp-field {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}

/* ============================ Chat CSS ================================= */

.chat-sec {
    padding: 43px 0px;
}

.chat-wrapper>h2 {
    font-size: 28px;
    text-align: center;
    margin: 0 0 33px;
    line-height: 36px;
}

.chat-outer {
    max-width: 1450px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    overflow: hidden;
}

.chat-list-bar {
    max-width: 441px;
    width: 100%;
    background-color: #F1F2F3;
    padding: 25px;
}

.chat-profile-img {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50px;
}

.chat-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-profile-img-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.chat-list-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all 0.3s ease;
}

.chat-list-profile:hover {
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    background-color: #Fff;
}

.chat-profile-img-box p {
    font-size: 14px;
    line-height: 23px;
    margin: 0;
}

.chat-list-profile span {
    font-size: 14px;
    line-height: 23px;
    color: #606060;
}

.chat-msg-box {
    width: 100%;
    padding: 5;
}

.chat-list-box ul {
    height: calc(100vh - 544px);
    overflow-y: auto;
}



img.chat-pro-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    min-width: 50px;
}

.chat-product-profile {
    display: flex;
    gap: 15px;
}

.chat-product-info .pro-desc-prize h3 {
    font-size: 14px;
}

.chat-product-info .pro-desc-prize .badge {
    padding: 3px 10px;
}

.chat-product-box .dropdown .dropdown-toggle::after {
    display: none;
}

.chat-screen-left-wrapper,
.chat-screen-right-wrapper {
    display: flex;
    gap: 15px;
    margin: 0 0 15px;
}

.chat-screen-right-wrapper {
    display: flex;
    justify-content: flex-end;
}

.chat-screen-img {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50px;
    min-width: 46px;
}

.chat-screen-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-screen-name-time {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 10px;
}

.chat-screen-name-time p {
    font-size: 14px;
    font-weight: 400;
}

.chat-screen-name-time span {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}

.chat-txt-box {
    background-color: #F1F2F3;
    padding: 16px 50px 16px 20px;
    margin: 0 0 13px;
}

.chat-screen-left-wrapper .chat-txt-box {
    border-radius: 0px 10px 10px 10px;
}

.chat-img-box {
    width: 164px;
    height: 164px;
    overflow: hidden;
    border-radius: 5px;
}

.chat-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-screen>p {
    text-align: center;
    margin: 0 0 15px;
}

.chat-screen-right-wrapper .chat-screenmsg-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.chat-screen-right-wrapper .chat-txt-box {
    border-radius: 10px 0px 10px 10px;
}

.chat-text-area-field {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DEE0E3;
    position: relative;
    max-height: 60px;
}

.chat-text-area-field textarea {
    width: 100%;
    border: 0;
    resize: unset;
    height: 36px;
    padding-right: 80px;
}

.upload-img-chat {
    position: absolute;
    top: 15px;
    right: 65px;
    cursor: pointer;
}

.btn.primary-btn.send-msg-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    height: 36px;
}

.chat-screen-area {
    height: calc(100vh - 550px);
    overflow: auto;
    padding: 0 20px;
}

#chatForm {
    padding: 0 15px;
}

.chat-msg-box .chat-text-area-field textarea:focus-visible {
    outline: none;
    border: 0;
}

.chat-msg-box .chat-text-area-field textarea:focus-visible {
    outline: none;
    border: 0;
}

.chat-list-box {
    max-width: 441px;
    width: 100%;
    background-color: #F1F2F3;
    padding: 25px;
}

.activecht {
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    background-color: #Fff;

}

/* ============================ Chat CSS ================================= */
.product_manual_location {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_manual_location .form-switch .form-check-input {
    width: 2.5em;
    height: 20px;
    margin-right: 5px;
}

.rating_pop_head {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;

}

.custom-tab .custom-tab-list {
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    grid-gap: 13px;
}

.custom-tab .custom-tab-list li {
    position: relative;
    padding: 10px;
    padding-left: 15px;
}

.custom-tab .custom-tab-list li a {
    color: #606060;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}


/* ============================ Chat CSS ================================= */

.chat-sec {
    padding: 43px 0px;
}

.chat-wrapper>h2 {
    font-size: 28px;
    text-align: center;
    margin: 0 0 33px;
    line-height: 36px;
}

.chat-outer {
    max-width: 1450px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    overflow: hidden;
}

.chat-list-bar {
    max-width: 441px;
    width: 100%;
    background-color: #F1F2F3;
    padding: 25px;
}

.chat-profile-img {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50px;
}

.chat-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-profile-img-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.chat-list-profile,
.chat-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all 0.3s ease;
}

.chat-list-profile:hover,
.chat-list:hover {
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    background-color: #Fff;
}

.chat-profile-img-box p {
    font-size: 14px;
    line-height: 23px;
    margin: 0;
}

.chat-list-profile span,
.chat-list span {
    font-size: 14px;
    line-height: 23px;
    color: #606060;
}



.chat-list-box ul {
    height: calc(100vh - 544px);
    overflow-y: auto;
}

.chat-product-box {
    padding: 14px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    margin: 0 0 16px;
    border-bottom: 1px solid var(--border-color);
}


.chat-product-profile {
    display: flex;
    gap: 15px;
    align-items: center;
}

.chat-product-info .pro-desc-prize h3 {
    font-size: 14px;
}

.chat-product-info .pro-desc-prize .badge {
    padding: 3px 10px;
}

.chat-product-box .dropdown .dropdown-toggle::after {
    display: none;
}

.chat-screen-left-wrapper,
.chat-screen-right-wrapper {
    display: flex;
    gap: 15px;
    margin: 0 0 15px;
}

.chat-screen-right-wrapper {
    display: flex;
    justify-content: flex-end;
}

.chat-screen-img {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50px;
    min-width: 46px;
}

.chat-screen-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-screen-name-time {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 10px;
}

.chat-screen-name-time p {
    font-size: 14px;
    font-weight: 400;
}

.chat-screen-name-time span {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}

.chat-txt-box {
    background-color: #F1F2F3;
    padding: 16px 50px 16px 20px;
    margin: 0 0 13px;
}

.chat-screen-left-wrapper .chat-txt-box {
    border-radius: 0px 10px 10px 10px;
}

.chat-img-box {
    width: 164px;
    height: 164px;
    overflow: hidden;
    border-radius: 5px;
}

.chat-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-screen>p {
    text-align: center;
    margin: 0 0 15px;
}

.chat-screen-right-wrapper .chat-screenmsg-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.chat-screen-right-wrapper .chat-txt-box {
    border-radius: 10px 0px 10px 10px;
}

.chat-text-area-field {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DEE0E3;
    position: relative;
    max-height: 53px;
}

.chat-text-area-field textarea {
    width: 100%;
    border: 0;
    resize: unset;
    height: 36px;
    padding-right: 80px;
}

.upload-img-chat {
    position: absolute;
    top: 15px;
    right: 65px;
    cursor: pointer;
}

.btn.primary-btn.send-msg-btn {
    position: absolute;
    top: 7px;
    right: 8px;
    height: 36px;
    min-height: 36px;
}


.chat-list-box>p {
    margin-bottom: 10px;
}

.chat-msg-box .chat-text-area-field textarea:focus-visible {
    outline: none;
    border: 0;
}

.chat-msg-box .chat-text-area-field textarea:focus-visible {
    outline: none;
    border: 0;
}

.chat-list-box {
    max-width: 441px;
    width: 100%;
    background-color: #F1F2F3;
    padding: 25px;
}

.activecht {
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    background-color: #Fff;

}

/* ============================ Chat CSS ================================= */

.product_manual_location .form-switch .form-check-input {
    width: 2.5em;
    height: 20px;
    margin-right: 5px;
}

.rating_pop_head {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}

.custom-tab .custom-tab-list {
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    grid-gap: 13px;
}

.custom-tab .custom-tab-list li {
    position: relative;
    padding: 10px;
    padding-left: 15px;
}

.custom-tab .custom-tab-list li a {
    color: #606060;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.custom-tab .custom-tab-list li.active a {
    color: #1B1B1B;
}

.custom-tab .custom-tab-list li::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #1B1B1B;
    left: 0;
    top: 20px;
    border-radius: 50px;
}

.custom-tab .custom-tab-list li.active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1B1B1B;
    bottom: 0;
    left: 0;
}

/* ============================ Payment CSS ================================= */
.payment-page-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.payment-heading-box {
    margin-bottom: 25px;
}

.payment-sec-tabs {
    display: inline-flex;
    gap: 15px;
    margin-bottom: 20px;
}

.payment-tab-box {
    padding: 8px 17px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;

}

.payment-tab-box label {
    cursor: pointer;
}

.payment-tab-box:has(input:checked) {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

}

.payment-tab-box input {
    display: none;
}

.payment-field {
    min-height: 60px;
    border: 1px solid;
    border-color: var(--border-color);
    padding: 8px 24px;
    padding-right: 10%;
    font-family: var(--font);
    color: var(--text-color);
    font-size: 14px;
    border-radius: 5px;
}

.order-summary.cstm-card {
    padding: 40px;
    border: 1px solid #DEE0E3;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
}

.payment-heading-box h3 {
    margin-bottom: 5px;
}

.min-height-100 {
    min-height: calc(100vh - 232px);
}

.product-slider-sec-min-height {
    padding: 75px 0px;
    min-height: calc(100vh - 476px);
}

.success-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 32px;
}
.product_manual_location {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_manual_location .form-switch .form-check-input {
    width: 2.5em;
    height: 20px;
    margin-right: 5px;
}
